.build-card {
    position: relative;
    height: 800px;
    max-width: 1920px;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}

#build-tab.tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 600px;
    margin-top: 2%;
    position: relative;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s forwards;
    margin-right: 0;
    padding: 0;   
    -webkit-text-fill-color: black;
    overflow: hidden;
    background: #333;
}

#build-tab.tab.char-sig.element-fusion::before,
#build-tab.tab.char-sig.element-glacio::before,
#build-tab.tab.char-sig.element-aero::before,
#build-tab.tab.char-sig.element-electro::before,
#build-tab.tab.char-sig.element-spectro::before,
#build-tab.tab.char-sig.element-havoc::before,
#build-tab.tab.char-sig.element-rover::before {
    border-radius: 8px;
}

#build-tab.tab.char-sig.element-fusion::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(255, 69, 0, 0.7), rgba(255, 140, 0, 0.7), rgba(255, 215, 0, 0.7), rgba(255, 77, 0, 0.7));
    z-index: 1;
}

#build-tab.tab.char-sig.element-glacio::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 206, 209, 0.7), rgba(135, 206, 235, 0.7), rgba(176, 224, 230, 0.7), rgba(255, 255, 255, 0.7), rgba(0, 255, 255, 0.7));
    z-index: 1;
}

#build-tab.tab.char-sig.element-aero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(176, 255, 176, 0.7), rgba(208, 240, 192, 0.7), rgba(255, 255, 255, 0.7), rgba(144, 238, 144, 0.7), rgba(176, 255, 176, 0.7));
    z-index: 1;
}

#build-tab.tab.char-sig.element-electro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(138, 43, 226, 0.7), rgba(123, 104, 238, 0.7), rgba(147, 112, 219, 0.7), rgba(106, 90, 205, 0.7), rgba(138, 43, 226, 0.7));
    z-index: 1;
}

#build-tab.tab.char-sig.element-spectro::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(255, 250, 205, 0.7), rgba(255, 215, 0, 0.7), rgba(255, 165, 0, 0.7), rgba(255, 250, 205, 0.7));
    z-index: 1;
}

#build-tab.tab.char-sig.element-havoc::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(255, 20, 147, 0.7), rgba(139, 0, 139, 0.7), rgba(255, 105, 180, 0.7), rgba(148, 0, 211, 0.7), rgba(255, 20, 147, 0.7));
    z-index: 1;
}

#build-tab.tab.char-sig.element-rover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(255, 69, 0, 0.7), rgba(0, 206, 209, 0.7), rgba(176, 255, 176, 0.7), rgba(138, 43, 226, 0.7), rgba(255, 250, 205, 0.7), rgba(139, 0, 139, 0.7), rgba(255, 105, 180, 0.7));
    z-index: 1;
}

.build-button {
    padding: 10px 20px;
    background: #a69662;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#generateDownload {
    position: absolute;
    top: 0%;
}

.build-button:hover {
    background: #8a7b4e;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.watermark {
    position: absolute;
    width: 170px;
    top: 46%;
    left: 34.5%;
    text-align: center;
    font-family: 'Ropa', sans-serif;
    font-size: 24px;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 3; 
}

.icon-container {
    position: absolute;
    left: 0%;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.build-character-section {
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0%;
    z-index: 2;
}

.build-character-icon {
    position: absolute;
    max-height: 600px;
    left: 10%;
    top: -3%;
    width: 90%;
    z-index: 2;
    object-fit: contain;
}

.build-intro {
    position: absolute;
    height: 45%;
    width: 25%; 
    left: 30%;
    top: 0%;
    z-index: 2;
}

.build-character-name, 
.build-character-level {
    position: absolute;
    font-size: 30px;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.build-character-name {
    top: 5%;
}

.build-character-level {
    top: 15%;
}

.build-weapon-container {
    position: absolute;
    height: 35%;
    width: 25%; 
    left: 30%;   
    bottom: 10%; 
    z-index: 2;
}

.build-weapon-level-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}

.build-weapon-star-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;  
    padding-left: 2%;
}

.build-weapon-diamond-container {
    position: absolute;
    top: -10%;
    width: 50%;
    left: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
}

.build-weapon-icon {
    position: absolute;
    max-height: 180px;
    bottom: 0%;
    z-index: 2;
    object-fit: contain;
    border: 2px solid black;  
}

.build-weapon-diamond-container .diamond {
    width: 18%;
    height: 20px;
    aspect-ratio: 1;  
    transform: rotate(45deg);
    background-color: white;
    border: 2px solid #5e6168;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.build-weapon-diamond-container .diamond.filled {
    background-color: white;
    border-color: #c7c8cb;
}

.simplified-forte {
    position: absolute;
    top: 40%;
    left: -10%;  
    width: 100%;
    height: 70%;  
    display: flex;
    justify-content: center;
    gap: 20px;  
}

.simplified-branch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.simplified-branch:nth-child(2),
.simplified-branch:nth-child(4) {
    transform: translateY(-20px);
}

.simplified-branch:nth-child(3) {
    transform: translateY(-40px);
}

.simplified-node {
    width: 32px;
    height: 32px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simplified-node.active {
    background: white;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.simplified-node.square .inner-diamond {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #333; 
    transform: rotate(45deg); 
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
}

.simplified-node.active .inner-diamond {
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.simplified-node.circle {
    border-radius: 50%;
    transform: translateY(20px);
}

.simplified-base {
    width: 40px;
    height: 40px;
    background: white;
    transform: rotate(45deg);
    position: relative;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.level-indicator {
    position: absolute;
    bottom: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    background: #a69662;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transform: rotate(-45deg);
}

.top-line{
    width: 2px;
    height: 16px;
    position: absolute;
    transform: translateY(56px);
    background: rgba(255, 255, 255, 0.3);
}

.bottom-line {
    width: 2px;
    height: 14px;
    transform: translateY(6px);
    background: rgba(255, 255, 255, 0.3);
}

.simplified-branch:nth-child(3) .bottom-line{
    height: 24px;
    transform: translateY(10px);
}

.simplified-branch:nth-child(3) .top-line{
    height: 14px;
    transform: translateY(60px);
}

.simplified-branch:nth-child(3) .simplified-node.square {
    transform: translateY(24px);
}

.simplified-node .node-image {
    width: 60%;
    height: 60%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.simplified-base .skill-image {
    width: 60%;
    height: 60%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.weapon-info{
    width: 50%;
    right: 0%;
    top: 10%;
    position: absolute;
}

.weapon-stat {
    font-size: 28px;
}

.weapon-stat.weapon-rank {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%; 
    height: 30px;
    background-color: #a69662;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.weapon-stat.weapon-level {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46%; 
    height: 30px;
    background-color: #a69662;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.weapon-stat-row {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 10px;
}

.weapon-stat.weapon-attack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%; 
    height: 30px;
    background-color: #a69662;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.weapon-stat.weapon-main-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
    height: 30px;
    background-color: #a69662;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.stat-icon-img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    transform: translateX(-5px);
    filter: invert(1);
}

.build-sequence-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    left: 15%;
    bottom: 0%;
    transform: translateY(-30%);
}

.build-sequence-node {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    z-index: 4;
    position: relative;
}

.build-sequence-node.active {
    background-color: #a69662;
    border-color: #e5d650;
    box-shadow: 0 0 10px rgba(229, 214, 80, 0.3);
}

.sequence-icon {
    width: 60%;
    height: 60%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}