#finalResultContainer {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    }
    
    #finalCanvasActions {
    display: flex;
    flex-direction: column; 
    margin-left: 20px;
    }
    
    #finalCanvasActions button {
    padding: 10px 20px;
    margin-bottom: 10px; 
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    }
    
    #finalCanvasActions button:hover {
    background-color: #555;
    }
    
    #finalCanvasActions button:focus {
    outline: none;
    }