body{
    font-size:30px;
}

.card-builder {
    margin-top: 20px;
  }
  
  #cardPreview {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  /*Styling for the dropzone*/
  #dropzone {
    width: 30%; 
    height: 100px; 
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    cursor: pointer;
    position: relative;
    margin: 0 auto 20px auto; 
  }
  
  
  #dropzone.dragover {
  background-color: #f0f0f0;
  border-color: #000;
  }
  
  #dropzone span {
  font-size: 24px;
  color: #666;
  }
  
  #dropzone input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  }
  
  #upload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  }
  
  /*Preview uploaded files*/
  .file-preview {
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; 
  margin-top: 20px;
  }
  
  .file-preview img {
  width: 150px;
  height: auto;
  border: 1px solid #000000; 
  padding: 5px;              
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, padding 0.3s ease, border 0.3s ease;
  }
  
  /*Zoom effect on hover*/
  .file-preview img:hover {
  transform: scale(2.5); 
  z-index: 10;        
  position: relative;
  border: 0;
  padding: 0;
  }
  