@font-face {
  font-family: 'YRDZST-Semibold';
  src: url('../fonts/YRDZST-Semibold.ttf') format('truetype'); /*Adjusted path*/
  font-weight: normal;
  font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, p, button, label {
  font-family: 'YRDZST-Semibold', sans-serif;
}


/*Global Styles*/
body {
  background: linear-gradient(to bottom, #1E1E1E, #121212);
  background-color: #121212; 
  color: #E0E0E0;           
  margin: 0;
  padding: 0;
}

/*Styling for the tabs*/
.tab {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  background: transparent; 
  color: inherit; 
}


.active-tab {
  display: block;
}