.weapon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
}

.weapon-option {
  width: 120px;
  height: 150px; 
  margin: 10px;
  cursor: pointer;
  text-align: center;
  background-size: contain; 
  background-repeat: no-repeat;
}

.weapon-img {
  width: 100px;
  height: 100px;
  border-radius: 8px; 
  border: 2px solid #999;
  margin-bottom: 5px;
}

.weapon-name{
  font-size: 16px;
  letter-spacing: 0.25px;
  transform: translateY(-2px);
}

.weapon-label {
  text-align: center; 
  display: flex; 
  justify-content: center; 
  margin-top: 5px; 
}

.weapon-selection{
  position: absolute;
  top: 60%;
  left: 23%;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; 
  margin-top: 20px; 
}

.weapon-choice{
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: -20%;
  left: 55%;
  transform: translateX(-50%);
}

.weapon-box{
  height: 104px;
  width: 104px;
  position: absolute;
  top: 20%;
  left: 31%;
  z-index: 4;
}

#weaponImg.select-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #999;
}

.label-prefix{
  width: 150px;
  font-size: 20px;
  position: absolute;
  left: -70%;
  top: 100%;
}

.weapon-sig{
  font-size: 24px;
  width: 200px;
  text-align: center;
  position: absolute;
  left: -40%;
}

@keyframes shine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 200% 50%;
  }
}

.weapon-sig.rarity-5 {
  background-image: linear-gradient(to right, #ffd700, #fff7b5, #ffd700);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

.weapon-sig.rarity-4 {
  background-image: linear-gradient(to right, #c468e9, #e1bef3, #c468e9);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

.weapon-sig.rarity-3 {
  background-image: linear-gradient(to right, #6ebfce, #b4d4da, #6ebfce);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

.weapon-sig.rarity-2 {
  background-image: linear-gradient(to right, #7ab488, #bad1bf, #7ab488);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

.weapon-sig.rarity-1 {
  background-image: linear-gradient(to right, #595959, #868686, #595959);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}