.build-card {
    position: relative;
    height: 800px;
    max-width: 1920px;
    max-height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}

#build-tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 600px;
    border-radius: 8px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s forwards;
    -webkit-text-fill-color: white;
    background: #333;
    background-image: url('../../public/images/Resources/T_Bg1_UI.png');
    background-size: cover;
    background-position: center;
}

.options-container.visible {
    display: block;
  }
  
  .options-container.hidden {
    display: none;
  }

.options-container {
    justify-content: flex-start;
    width: 25%;
    height: 37px;
    top: 0%;
    position: absolute;
    left: 10%;
}

.build-button {
    padding: 10px 20px;
    background: #a69662;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#generateDownload {
    top: 0%;
    position: absolute;
}

.build-button:hover {
    background: #8a7b4e;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    gap: 25px;
    align-items: center;
    margin: 0 auto;
}

#build-username, #build-uid {
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    background-color: #333;
    -webkit-text-fill-color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #333 inset;
    -webkit-text-fill-color: white;
}

.checkbox-container {
    display: flex;
    align-items: center;
    width: 140px;
    padding: 5px 0px;
}

.roll-checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid white;
    border-radius: 2px;
}

.roll-checkbox:checked {
    background-color: #a69662;
}

.roll-label {
    color: white;
    user-select: none;
    font-size: 24px;
}

.watermark-container {
    position: absolute;
    width: 150px;
    top: 50%;
    left: 33%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    font-family: 'Ropa', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.icon-container {
    position: absolute;
    left: 0%;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.build-character-section {
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0%;
    z-index: 2;
}

.build-character-icon {
    position: absolute;
    max-height: 600px;
    left: 5%;
    top: -5%;
    width: 90%;
    z-index: 2;
    object-fit: contain;
}


.build-intro {
    position: absolute;
    height: 60%;
    width: 23%; 
    left: 28%;
    top: 0%;
    z-index: 2;
}

.build-character-name, 
.build-character-level {
    position: absolute;
    font-family: 'Gowun', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}

.build-character-name {
    top: 0%;
    font-size: 45px;
    letter-spacing: 2px;
}

.build-character-level {
    top: 16%;
    font-size: 36px;
}

.element-icon, .role-icon{
    position: absolute;
    width: 50px;
    top: 16%;
    left: 40%;
}

.element-icon{
    transform: translateX(50px);
}

.build-weapon-container {
    position: absolute;
    height: 35%;
    width: 23%; 
    left: 28%;   
    bottom: 5%; 
}


.build-weapon-icon {
    position: absolute;
    max-height: 180px;
    bottom: 0%;
    object-fit: contain;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.build-weapon-star-container {
    position: absolute;
    top: 0%;
    width: 180px;
    left: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.star-icon {
    height: 36px;
    width: 36x;
    object-fit: contain;
    filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.8));
}

.simplified-forte {
    position: absolute;
    top: 37.5%;
    left: -10%;  
    width: 100%;
    height: 70%;  
    display: flex;
    justify-content: center;
    gap: 20px;  
}

.simplified-branch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.simplified-branch:nth-child(2),
.simplified-branch:nth-child(4) {
    transform: translateY(-20px);
}

.simplified-branch:nth-child(3) {
    transform: translateY(-40px);
}

.simplified-node {
    width: 32px;
    height: 32px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.simplified-node.active {
    background: white;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.simplified-node.square .inner-diamond {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #333; 
    transform: rotate(45deg); 
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
}

.simplified-node.active .inner-diamond {
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.simplified-node.circle {
    border-radius: 50%;
    transform: translateY(20px);
    
}

.simplified-base {
    width: 40px;
    height: 40px;
    background: white;
    transform: rotate(45deg);
    position: relative;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.level-indicator {
    position: absolute;
    bottom: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    background: #a69662;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transform: rotate(-45deg);
}

.top-line{
    width: 2px;
    height: 16px;
    position: absolute;
    transform: translateY(56px);
    background: rgba(255, 255, 255, 0.3);
}

.bottom-line {
    width: 2px;
    height: 14px;
    transform: translateY(6px);
    background: rgba(255, 255, 255, 0.3);
}

.simplified-branch:nth-child(3) .bottom-line{
    height: 24px;
    transform: translateY(10px);
}

.simplified-branch:nth-child(3) .top-line{
    height: 14px;
    transform: translateY(60px);
}

.simplified-branch:nth-child(3) .simplified-node.square {
    transform: translateY(24px);
}

.simplified-node .node-image {
    width: 60%;
    height: 60%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.simplified-base .skill-image {
    width: 60%;
    height: 60%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    filter: invert(1);
}

.weapon-info{
    width: 50%;
    right: 0%;
    top: 0%;
    position: absolute;
}

.weapon-stat {
    font-size: 28px;
}

.weapon-stat.weapon-rank {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%; 
    height: 30px;
    background-color: #a69662;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.weapon-stat.weapon-level {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46%; 
    height: 30px;
    background-color: #a69662;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.weapon-stat-row {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 10px;
}

.weapon-stat.weapon-name{
    text-align: center;
    justify-content: center;
    font-size: 28px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.weapon-stat.weapon-attack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%; 
    height: 30px;
    background-color: #a69662;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.weapon-stat.weapon-main-stat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
    height: 30px;
    background-color: #a69662;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
}

.weapon-passive{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    white-space: pre-line;
    text-align: center;
    border-radius: 8px;
}

.stat-icon-img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    transform: translateX(-5px);
}

.build-sequence-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    left: 15%;
    bottom: 0%;
    transform: translateY(-30%);
}

.build-sequence-node {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid transparent;
    z-index: 4;
    position: relative;
}

.build-sequence-node.active{
    box-shadow: 
    0 0 10px rgba(255, 255, 255, 0.8),   
    0 0 20px rgba(255, 255, 255, 0.6),   
    inset 0 0 15px rgba(255, 255, 255, 0.4); 
    transition: transform 0.2s ease-in-out;
}

.build-sequence-node.inactive .sequence-icon{
    filter:blur(2px) invert(0.3);
}

.build-sequence-node.element-fusion.active {
    border: 2px solid #ff4d00;
    background-color: #ff4500; 
}

.build-sequence-node.element-glacio.active {
    border: 2px solid #00ced1; 
    background-color: rgba(0, 206, 209, 0.5); 
}

.build-sequence-node.element-aero.active {
    border: 2px solid #90ee90; 
    background-color: rgba(0, 128, 128, 0.5); 
}

.build-sequence-node.element-electro.active {
    border: 2px solid #8a2be2;
    background-color: rgba(138, 43, 226, 0.9);
}

.build-sequence-node.element-spectro.active {
    border: 2px solid #ffd700; 
    background-color: rgba(255, 215, 0, 0.3); 
}

.build-sequence-node.element-havoc.active {
    border: 2px solid #ff1493;
    background-color: #ff69b4;
}

.sequence-icon {
    width: 60%;
    height: 60%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(1.5); 
    z-index: 4;
}

.echo-display {
    width: 28%;
    height: 95%;
    position: absolute;
    right: 0%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.echo-row {
    width: 95%;
    height: 18%;  
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 0 auto;
}

.echo-left {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.echo-display-icon {
    height: 100%;
    display: block;
    left: 4%;
    border-radius: 8px;
}

.echo-level-indicator {
    position: absolute;
    bottom: 7px;
    right: 0px;
    padding: 2px 6px;
    font-size: 24px;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.main-stat-icon {
    position: absolute;
    top: 5px;
    right: -5px;
    height: 32px;
    width: 32px;
}

.main-stat-display {
    position: absolute;
    top: 35px;
    right: -5px;
    color: white;
    font-size: 30px;
    text-shadow: 
    -2px -2px 4px #000,
    2px -2px 4px #000,
    -2px 2px 4px #000,
    2px 2px 4px #000;
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 2px;
}

.echo-divider {
    width: 2px;
    height: 80%;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 10px;
}

.echo-right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 8px;
    letter-spacing: 1px;
}

.substat-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.echo-right .substat-row:first-child {
    margin-bottom: 8px;
}

.echo-right .substat-row:last-child {
    justify-content: center;
    gap: 30px;
}

.substat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    flex: 0 1 auto;
    border-radius: 4px;
    padding: 4px 4px; 
    position: relative;
}

.substat-icon {
    height: 26px;
    width: 26px;
}

.substat-value {
    color: white;
    font-size: 24px;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}