.stats-section {
    width: 20%;
    height: 100%;
    position: relative;
    left: 11.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    --base-stat-height: 54px;
    --reg-stat-height: 37px;
    --gap-height: 4px;
    --set-height: 51px;
    --second-set-height: 57px;
    
    --twelve-stat-scale: 0.925;
    --two-set-scale: 0.9;
    
    --base-stat-count: 6;
    --reg-stat-count: 5;
    --gap-count: 10;
    --extra-stats: 0;
    --has-second-set: 0;
    
    --base-height: calc(
        (var(--base-stat-height) * var(--base-stat-count)) +
        (var(--reg-stat-height) * var(--reg-stat-count)) +
        (var(--gap-height) * var(--gap-count)) +
        var(--set-height)
    );
    
    --extra-height: calc(
        (var(--extra-stats) * (var(--reg-stat-height) + var(--gap-height))) +
        (var(--has-second-set) * var(--second-set-height))
    );
    
    --natural-height: calc(var(--base-height) + var(--extra-height));
    
    transform-origin: top;
}

.stats-section:has(.stat-row:nth-child(12)) {
    --extra-stats: 1;
    transform: scale(var(--twelve-stat-scale));
    
    .stat-name.medium {
        font-size: 20px;
    }
    
    .stat-name.long {
        font-size: 18px;
    }
    
    .stat-icon { 
        width: 26px;
        height: 26px;
    }
}

.stats-section:has(.set-row:nth-child(2)) {
    --has-second-set: 1;
    &:has(.stat-row:nth-child(11)) {
        transform: scale(var(--two-set-scale));
        
        .stat-name.medium {
            font-size: 19px;
        }
        
        .stat-name.long {
            font-size: 17px;
        }
        
        .stat-icon { 
            width: 24px;
            height: 24px;
        }
        
        .set-container {
            gap: 3px;
        }
        
        .set-row {
            height: 42px;
        }
    }
}
.stats-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: auto;
    margin-bottom: 0;
}

.stat-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    transition: background-color 0.2s ease;
    border-radius: 8px;
}

.stat-row:hover .stat-breakdown {
    transform: scale(1.2); 
    transition: transform 0.2s ease, font-size 0.2s ease;
    font-size: 16px;
    margin-right: 5px;
    letter-spacing: 1px;
}

.weapon-stat.weapon-attack.hover-highlight,.weapon-stat.weapon-main-stat.hover-highlight, .stat-row.hover-highlight, .main-stat-display.hover-highlight, .set-row.hover-highlight,
.weapon-passive.hover-highlight, .simplified-node.circle.active.hover-highlight, .substat-container.hover-highlight {
    background-color: rgba(17, 194, 238, 1);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-image: none !important;
}

.stat-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.stat-number, .stat-name{
    color: #E2E8F0;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.stat-number{
    font-size: 24px;
}

.stat-name{
    transition: font-size 0.3s;
    max-width: 200px;
    font-size: 24px;
}

.stat-name.short {
    font-size: 22px;
}

.stat-name.medium {
    font-size: 21px;
}

.stat-name.long {
    font-size: 19px;
}

.stat-icon {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.stat-value-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    letter-spacing: 0.5px;
}


.stat-breakdown {
    text-align: right;
    font-size: 14px;
    transform: scale(1);
    transition: transform 0.2s ease, font-size 0.2s ease;
}

.update-value{
    -webkit-text-fill-color: #a69662;
}

.set-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 108px;
    gap: 8px;
}

.set-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    height: 50px;
    width: 100%;
    border-radius: 8px;
}

.set-icon-container {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.set-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.set-name {
    color: #E2E8F0;
    font-size: 42px;
    text-align: center;
}

.set-count{
    font-size: 28px;
    text-align: center;
    padding: 2px 12px;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.set-aero {
    border: 2px solid #98FB98;
    background: #2E4D2E;
}
.set-er {
    border: 2px solid white;
    background: #444;
}

.set-electro {
    border: 2px solid #BA55D3;
    background: #2B1226;
}

.set-spectro {
    border: 2px solid #FFD700;
    background: #3E3600;
}

.set-glacio {
    border: 2px solid #87CEEB;
    background: #163C50;
}

.set-attack {
    border: 2px solid #BC2514;
    background: #4A1E1A;
}

.set-fusion {
    border: 2px solid #D5740C;
    background: #53271A;
}

.set-havoc {
    border: 2px solid #FF1493;
    background: #3C1E00;
}

.set-healing {
    border: 2px solid #2FE32F;
    background: #243A24;
}

.echo-row{
    background: rgba(30, 30, 40, 0.8);
}

.popuptext {
    visibility: hidden;
    width: 92%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: red;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.show {
    visibility: visible;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}