.stats-section {
    position: relative;
    width: 20%;
    height: 94%;
    padding: 1.071% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stat-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s ease;
    border-radius: 8px;
    height: 7.5%;
    width: 100%;
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.stat-left {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    max-width: 80%;
}

.stat-number{
    font-size: 24px;
}

.stat-name {
    color: #E2E8F0;
    font-size: 22px;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1;
}

#build-tab.downloading .stat-name, #build-tab.downloading .stat-number{
    font-size: 24px;
}

#build-tab.downloading .base-value, #build-tab.downloading .update-value{
    font-size: 18px;
}

.stat-icon {
    aspect-ratio: 1;
    height: 62%;
    width: auto;
    object-fit: contain;
}

.stat-value-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    letter-spacing: 0.5px;
}

.stat-breakdown {
    display: flex;
    text-align: right;
    font-size: 14px;
    gap: 2px;
    transform: scale(1);
    margin-right: 5px;
    transition: transform 0.2s ease, font-size 0.2s ease;
    white-space: nowrap;
    flex-shrink: 0;
    width: fit-content;
}

.update-value{
    -webkit-text-fill-color: #a69662;
}

.stat-row.fusion .stat-icon {
    filter: brightness(0) saturate(100%) invert(62%) sepia(74%) saturate(2505%) hue-rotate(328deg) brightness(98%) contrast(93%);
}

.stat-row.aero .stat-icon {
    filter: brightness(0) saturate(100%) invert(85%) sepia(10%) saturate(2204%) hue-rotate(92deg) brightness(99%) contrast(103%);
}

.stat-row.electro .stat-icon {
    filter: brightness(0) saturate(100%) invert(56%) sepia(83%) saturate(3816%) hue-rotate(235deg) brightness(102%) contrast(100%);
}

.stat-row.healing .stat-icon {
    filter: brightness(0) saturate(100%) invert(98%) sepia(39%) saturate(5256%) hue-rotate(22deg) brightness(101%) contrast(74%);
}

.stat-row.spectro .stat-icon {
    filter: brightness(0) saturate(100%) invert(86%) sepia(48%) saturate(471%) hue-rotate(355deg) brightness(99%) contrast(97%);
}

.stat-row.havoc .stat-icon {
    filter: brightness(0) saturate(100%) invert(79%) sepia(93%) saturate(407%) hue-rotate(279deg) brightness(85%) contrast(90%);
}

.stat-row.glacio .stat-icon {
    filter: brightness(0) saturate(100%) invert(53%) sepia(66%) saturate(1335%) hue-rotate(183deg) brightness(105%) contrast(97%);
}

.echo-display {
    width: 30.25%;
    height: 94%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.071% 0;
}

.row-container {
    height: 20%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.echo-row {
    width: 88%;
    height: 85%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(30, 30, 40, 0.8);
}

.connector-segment {
    position: relative;
    height: 100%;
    width: 6%;
    z-index: 2;
}

.connector-segment.start {
    border: none;
}

.connector-segment.start::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 50%;
    bottom: 0;
    left: 50%;
    border-left: 2px solid;
    border-color: inherit;
}

.connector-segment.start::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    top: 50%;
    border-top: 2px solid;
    border-color: inherit;
    border-radius: 2px;
}

.connector-segment.left.start{
    border-top-left-radius: 8px;
}

.connector-segment.right.start{
    border-top-right-radius: 8px;
}

.connector-segment.left.start::before {
    right: 0;
}

.connector-segment.right.start::before {
    left: 0;
}

.connector-segment.continue {
    border: none;
}

.connector-segment.continue::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    border-left: 2px solid;
    border-color: inherit;
}

.connector-segment.continue.connect::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    top: 50%;
    border-top: 2px solid;
    border-color: inherit;
}

.connector-segment.left.continue.connect::before {
    right: 0;
}

.connector-segment.right.continue.connect::before {
    left: 0;
}

.connector-segment.end {
    border: none;
}

.connector-segment.end::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 50%;
    top: 0;
    left: 50%;
    border-left: 2px solid;
    border-color: inherit;
}

.connector-segment.left.end::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    top: 50%;
    border-top: 2px solid;
    border-color: inherit;
    border-radius: 2px;
    right: 0;
}

.connector-segment.right.end::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 50%;
    border-bottom: 2px solid;
    border-color: inherit;
    border-radius: 2px;
    left: 0;
}

.connector-segment.left.end::before {
    right: 0;
}

.connector-segment.right.end::before {
    left: 0;
}

.connector-segment.right.none{
    width: 0;
}

.connector-segment.left.end {
    border-bottom-left-radius: 8px;
}

.connector-segment.right.end {
    border-bottom-right-radius: 8px;
}

.row-container:nth-child(5) .connector-segment.end {
    border-radius: 0;
}

.connector-segment.aero {
    border-color: #98FB98;
}

.connector-segment.er {
    border-color: white;
}

.connector-segment.electro {
    border-color: #BA55D3;
}

.connector-segment.spectro {
    border-color: #FFD700;
}

.connector-segment.glacio {
    border-color: #87CEEB;
}

.connector-segment.attack {
    border-color: #BC2514;
}

.connector-segment.fusion {
    border-color: #D5740C;
}

.connector-segment.havoc {
    border-color: #FF1493;
}

.connector-segment.healing {
    border-color: #2FE32F;
}

.connector-segment.empyrean {
    border-color: #4ba3ff;
}

.connector-segment.frosty {
    border-color: #87CEEB;
}

.connector-segment.midnight {
    border-color: #e086e0;
}
.connector-segment.dream {
    border-color: #c06ac0;
}

.connector-segment.radiance {
    border-color: #ffd54f;
}

.connector-segment.tidebreaking {
    border-color: white;
}

.connector-segment.gust {
    border-color: #7CFC00;
}

.connector-segment.windward {
    border-color: #98FB98;
}

.connector-segment.flaming {
    border-color: #D5740C;
}

.echo-left {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.echo-display-icon {
    height: 100%;
    border-radius: 8px;
    padding-right: 13.525%;
    mask: linear-gradient(to right, black 30%, transparent 90%);
    -webkit-mask: linear-gradient(to right, black 30%, transparent 90%);
}

.set {
    margin: 3px 0;
    height: 28px;
    width: auto;
}

.main-stat-wrapper {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-stat-icon {
    height: 26px;
    width: auto;
    border-radius: 8px 8px 0 0;
}

#build-tab.downloading .main-stat-icon {
    height: 30px;
}

.main-stat-display {
    color: white;
    font-size: 28px;
    text-shadow: -2px -2px 4px #000, 2px -2px 4px #000, -2px 2px 4px #000, 2px 2px 4px #000;
    border-radius: 8px 0 8px 8px;
    padding-left: 6px;
    padding-right: 2px;
}

#build-tab.downloading .main-stat-display {
    font-size: 30px;
}

.echo-level-indicator {
    position: absolute;
    top: 0;
    left: 1px;
    padding: 2px 4px;
    font-size: 24px;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(1px);
    border-radius: 4px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.echo-level-indicator.cv-value {
    font-size: 16px;
}

.echo-divider {
    width: 2px;
    height: 80%;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 6px 0 8px;
}

.echo-right {
    flex: 1;
    height: 100%;
    position: relative;
    padding: 8px;
    letter-spacing: 1px;
}

.substat-grid {
    width: 100%;
    height: calc(100% - 20px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 43% 43%;
    gap: 14% 4%;
    margin: 10px 0;
}

.substat-grid > *:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2;
    transform: translateX(50%);
}

.substat-grid > *:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 2;
    transform: translateX(-50%);
}

.substat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 4px;
    position: relative;
}

.substat-icon {
    height: 26px;
    width: 26px;
}

.substat-value {
    color: white;
    font-size: 24px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#build-tab.downloading .substat-value {
    font-size: 28px;
}

.site-watermark {
    position: absolute;
    bottom: 0%;
    left: 35%;
    height: 34px;
    display: flex;
    align-items: center;   
    text-align: center;
    font-family: 'Gowun', sans-serif;
    letter-spacing: 1px;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
    padding: 0.5px 3.5px;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(0.5px);
    transition: opacity 0.3s ease;
}

.stats-footer {
    font-family: 'Gowun', sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.set-info {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}

.cv-container {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 50%;
    justify-content: center;
    position: relative;
}

.cv-text {
    color: #E2E8F0;
    font-size: 12px;
}

.cv-value {
    font-size: 14px;
}

#build-tab.downloading .cv-text {
    font-size: 14px;
}

#build-tab.downloading .cv-value {
    font-size: 16px;
}

.cv-value.goat {
    color: #FF00FF;
}
.cv-value.excellent {
    color: #00FFFF;
}
.cv-value.high {
    color: #00FF00;
}
.cv-value.good {
    color: #E6B800;
}
.cv-value.decent {
    color: #FF8C00;
}
.cv-value.low {
    color: #666;
}

.set-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.set-info.left .set-row {
    border-radius: 0 8px 8px 8px;
}

.set-info.right .set-row {
    border-radius: 8px 0 8px 8px;
}

.set-name {
    color: #E2E8F0;
    font-family: 'Ropa', sans-serif;
    text-align: center;
    font-size: 16px;
    text-shadow: -0.75px -0.75px 0 #000, 0.75px -0.75px 0 #000, -0.75px 0.75px 0 #000, 0.75px 0.75px 0 #000;
}

#build-tab.downloading .set-name{
    font-size: 18px;
}

.set-count{
    font-size: 14px;
    text-align: center;
    padding: 0 8px;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.set-aero {
    border: 2px solid #98FB98;
}

.set-er {
    border: 2px solid white;
}

.set-electro {
    border: 2px solid #BA55D3;
}

.set-spectro {
    border: 2px solid #FFD700;
}

.set-glacio {
    border: 2px solid #87CEEB;
}

.set-attack {
    border: 2px solid #BC2514;
}

.set-fusion {
    border: 2px solid #D5740C;
}

.set-havoc {
    border: 2px solid #FF1493;
}

.set-healing {
    border: 2px solid #2FE32F;
}

.set-empyrean {
    border: 2px solid #4ba3ff;
}

.set-frosty {
    border: 2px solid #87CEEB;
}

.set-midnight {
    border: 2px solid #e086e0;
}

.set-radiance {
    border: 2px solid #ffd54f;
}

.set-tidebreaking {
    border: 2px solid white;
}

.set-gust {
    border: 2px solid #7CFC00;
}

.set-windward {
    border: 2px solid #98FB98;
}

.set-flaming {
    border: 2px solid #D5740C;
}

.set-row.aero .set-name { color: #98FB98; }
.set-row.er .set-name { color: white; }
.set-row.electro .set-name { color: #BA55D3; }
.set-row.spectro .set-name { color: #FFD700; }
.set-row.glacio .set-name { color: #87CEEB; }
.set-row.attack .set-name { color: #BC2514; }
.set-row.fusion .set-name { color: #D5740C; }
.set-row.havoc .set-name { color: #FF1493; }
.set-row.healing .set-name { color: #2FE32F; }
.set-row.empyrean .set-name { color: #4ba3ff; }
.set-row.frosty .set-name { color: #87CEEB; }
.set-row.midnight .set-name { color: #e086e0; }
.set-row.dream .set-name { color: #c06ac0; }
.set-row.radiance .set-name { color: #ffd54f; }
.set-row.tidebreaking .set-name { color: white; }
.set-row.gust .set-name { color: #7CFC00; }
.set-row.windward .set-name { color: #98FB98; }
.set-row.flaming .set-name { color: #D5740C; }

.popuptext {
    visibility: hidden;
    width: 92%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: red;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.show {
    visibility: visible;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.weapon-stat.weapon-attack.hover-highlight,.weapon-stat.weapon-main-stat.hover-highlight, .stat-row.hover-highlight, .main-stat-display.hover-highlight, .connector-segment:not(.none).hover-highlight,
.weapon-passive.hover-highlight, .simplified-node.circle.active.hover-highlight, .substat-container.hover-highlight, .main-stat-icon.hover-highlight , .set-row.hover-highlight, 
.row-container:nth-child(1) .echo-display-icon.hover-highlight {
    background-color: rgba(17, 194, 238, 1);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    mask-image: none;
}

.stat-row:hover .stat-breakdown {
    transform: scale(1.2) translate(-5px, -2px);
    transition: transform 0.2s ease, font-size 0.2s ease;
    font-size: 16px;
    letter-spacing: 1px;
    filter: drop-shadow(-0.3px -0.3px 0 #000) 
            drop-shadow(0.3px -0.3px 0 #000) 
            drop-shadow(-0.3px 0.3px 0 #000) 
            drop-shadow(0.3px 0.3px 0 #000);
    text-shadow: none;
    backface-visibility: hidden;
    will-change: transform;
}