@font-face {
  font-family: 'YRDZST-Semibold';
  src: url('/src/styles/fonts/YRDZST-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ropa';
  src: url('/src/styles/fonts/Ropa.OTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gowun';
  src: url('/src/styles/fonts/GowunDodum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}